<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <script>(new Image).src = "<%= image_path('paris.png') %>";</script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= render :partial => 'layouts/ga' if Rails.env.production? %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- <a class="brand" href="/">Solitr</a> -->
      <ul class="nav">
        <li>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Game <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= active_link_to 'Klondike, turn three (medium)', '/', :wrap_tag => :li, :active => :exclusive %>
            <%= active_link_to 'Klondike, turn one (easy)', '/klondike-turn-one', :wrap_tag => :li %>
            <li class="divider"></li>
            <%= active_link_to 'Spider Solitaire (coming soon)', '/spider-solitaire', :wrap_tag => :li %>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="http://www.solitr.com/blog/">Blog</a></li>
        <li><a href="https://github.com/joliss/solitr">Source Code</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="pageContent">
  <%= yield %>
</div>

</body>
</html>
