<!DOCTYPE html>
<html>
<head>
  <title>Solitr - CoffeeScript Solitaire</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= render :partial => 'layouts/ga' if Rails.env.production? %>
</head>
<body>

<%= yield %>

</body>
</html>
